/*  your css code here. If applicable */
body{
	background-color:lightgray;
}
.container{
	grid-template-columns:repeat(4, 100px);
	margin:10px;
	display:grid;
	justify-content:space-around;
	align-item:center;
	
}
.blog{
	margin:10px;
	text-align:center;
	font-size:10px;
	width:100px;
	background-color:white;
}
li{
	list-style-type:none;
}