/*  your css code here. If applicable */
body{
	background-color:lightgray;
}
.container{
	flex-wrap:wrap;
	display:flex;
	justify-content:space-around;
	align-item:center;
	
}
.blog{
	margin:10px;
	text-align:center;
	font-size:10px;
	height:120px;
	width:130px;
	background-color:white;
}
li{
	list-style-type:none;
}